body {
    margin: 0;
    min-height: 100vh;

}

/* .top-bg {
            height: 40vh;
            background: url('images/profile-bg.png') no-repeat center top;
            background-size: cover;
            position: relative;
        } */

.top-bg {
    height: 40vh;
    background: url('../images/profile-bg.png') no-repeat center top;
    background-size: cover;
    position: fixed;
    /* stays at top when scrolling */
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* behind the content */
}

.content {
    position: relative;
    margin-top: -80px;
    /* overlaps upwards onto the image */
    padding: 20px;
    z-index: 1;
}

.f-container {
    padding-top: 40vh;
}

.sideOptions {
    position: fixed;
    right: -120px;
    bottom: 0px;
    transition: right 0.3s ease;
    /* smooth slide */
    background: linear-gradient(135deg, #ff5f9e, #ff9966)
}

h1>span {
    font-size: 12px;
    color: #ff9966;
    font-style: italic;
}

#dcard p {
    margin-bottom: 5px;
}

#dcard button {
    background: linear-gradient(135deg, #ff5f9e, #ff9966);
    border-color: transparent
}