body {
    margin: 0;
    min-height: 100vh;

}

/* .top-bg {
            height: 40vh;
            background: url('images/profile-bg.png') no-repeat center top;
            background-size: cover;
            position: relative;
        } */

.top-bg {
    height: 40vh;
    background: url('../images/profile-bg.png') no-repeat center top;
    background-size: cover;
    position: fixed;
    /* stays at top when scrolling */
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* behind the content */
}

.content {
    position: relative;
    margin-top: -80px;
    /* overlaps upwards onto the image */
    padding: 20px;
    z-index: 1;
}

.f-container {
    padding-top: 40vh;
}

.sideOptions {
    position: fixed;
    right: -120px;
    bottom: 0px;
    transition: right 0.3s ease;
    /* smooth slide */
    background: linear-gradient(135deg, #ff5f9e, #ff9966)
}

h1>span {
    font-size: 12px;
    color: #ff9966;
    font-style: italic;
}

#dcard p {
    margin-bottom: 5px;
}

#dcard button {
    background: linear-gradient(135deg, #ff5f9e, #ff9966);
    border-color: transparent

}

/* sideLable CSS Start */
.sideLabels {
            background: linear-gradient(135deg, #ff5f9e, #ff9966);
            position: fixed;
            left: -25px;
            z-index: 99;
            width: 35px;
 top:60%;
    border-radius: 0 6px 6px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            transition: all 0.5s ease;
        }



        a.socialIcon i {
            display: inline-block;
            font-size: 1rem;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }

        a.socialIcon {
            color: #fff;
            opacity: 0;
            text-decoration:none;
            transition: all 0.2s ease;
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            padding: 10px 5px;
        }

        a.socialIcon span {
            display: flex;
            position: absolute;
            top: 0;
            background: linear-gradient(135deg, #ff5f9e, #ff9966);
            height: 100%;
            width: 80px;
            right: 30px;
            border-radius: 0 6px 6px 0;
            z-index: 0;
            padding: 0 5px;
            transition: all 0.5s ease;
            align-items: center;
            justify-content: center;
            border-left: 2px solid linear-gradient(135deg, #ff5f9e, #ff9966);
            text-align: center;
            font-size: 1rem;
        }

        .sideLabels:hover {
            transform: translateX(25px);
        }

        .sideLabels:hover::after {
            opacity: 0;
            content:none;
        }

        .sideLabels:hover a.socialIcon {
            opacity: 1;
        }

        .sideLabels:hover a.socialIcon:hover .socialLabel {
            transform: translateX(113px);
        }
        .socialLabel:hover .socialLabel {
            transform: translateX(113px);
        }

        .sideLabels::after {

            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
            border-width: 12px;
            border-style: solid;
            border-color: transparent;
            border-left-color: #ff5f9e;
            /* green triangle */
            transition: opacity 0.3s ease;
        }
/* sideLable CSS End */


